# Projects
/src/node_modules/@sapper/
/__sapper__/
logs/
out/
/build
public/build
node_modules
.cache
.DS_Store

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.nyc_output/
.vscode/
.VSCodeCounter/
*.map
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.*

# Local todo file
*.todo

# Local Backup
*.backup.*

## ! Exception ! ##
# VSCode debugging
!.vscode/extensions.json
!.vscode/launch.json
